<article>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> edit-posts post}}
        </li>
        {{/each}}
    </ul>
</article>

<article>
    <button class="btn">New Post</button>
</article>